.wrapper {
  display: grid;
  grid-template-columns: minmax(200px, 25%) 1fr;
  height: 100vh;
}

.cloud_image_wrapper {
  background-image: url("../public/images/weatherPhoto.jpg");
  background-size: cover;
}

.content_wrapper {
  padding: 20px;
  background-color: #f7fbfb;
}